.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 !important;
  width: 100%;
  height: 100%;
  overflow: scroll;
  border: black 1px;
  background: rgb(248, 247, 239);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.card {
  // flex: 1 0 60em;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 200px;
  width: 100%;
  max-width: 60em;
  margin: 1em 2em 0.2em 2em;
  padding: 1em;
  border-radius: 5px;
  border: 2px solid darkcyan;
  background: rgb(244, 248, 243);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

  &.viewed {
    background: 
   linear-gradient(to top right,transparent 50%,darkcyan 0) top right/40px 40px no-repeat,
   white; 
    overflow: hidden;
  }

  &:hover {
    cursor: pointer;
  }

  &.expanded {
    height: 400px;
  }
}

.columnLeft {
  display: flex;
  align-items: flex-start;
  width: 25%;
  height: 200px;
  
  img {
    height: 200px;
    width: 200px;
    object-fit: cover;
  }
}

.columnRight {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 75%;
  height: 200px;
}

.expandedContent {
  margin: 0;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;
  // align-items: flex-start;
  width: 100%;
}