.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  width: 75%;
  height: 75%;
  border: black 1px;
  background: rgb(248, 247, 239);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}